body{
background-color:#C1EFFF;
}
/*
a {
  background-color:none;
  transition:.5s;
  text-decoration: none;
}
a:hover {
  background-color:none;
  text-decoration:none;
}
table,th,td,tr{
  border:solid;
  border-collapse:collapse;
}
hr{
  border-color:black;
  border-width:5px;
  width:5%;
  text-align: center;
}*/
nav{
  display: flex;
  align-items:center;
  justify-content:space-between;
  padding-top: 15px;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 15px;
}
nav div ol li{
  text-transform: capitalize;
  margin-top: 20px;
  font-weight: bold;
  list-style-type:none;
  padding: 10px;
  display: inline-block;
}
nav div ol li a{
  color:blue;
  text-decoration:none;
}
nav div ol li a:hover{
  color:black;
  transition: .5s;
}
h1 strong{
  font-size: 1.5em;
  position: relative;
  text-align: center;
  margin-top: 100px;
}
.head1
{color:blue;}
.head2
{color:red;}
.head3
{color:green;}
.font1
{font-size:15px;}
.font2
{font-size:20px;}
.font3
{font-size:25px;}
.grid
{display: grid;
grid-template-columns:auto auto auto;
padding:10px 10px 10px 10px;
}
.bca{
  color:#C1EFFF;
}
.AOG{
  background-color:none;
  color:#C1EFFF;
  text-decoration: none;
  border: 2PX solid transparent;
  font-weight: bold;
  padding:10px 25px;
  border-radius: 40px;
  height: 45px;
}
.abc{
  height:auto;
  width:auto;
  background:linear-gradient(to right bottom,#277BC0,#ffffff);
  margin: 15px;
  border-radius: 15px;
  display: grid;
  grid-template-columns:auto auto;
  animation: abc1 4s ease-in;
}
@keyframes abc1{
  0% {
      transform: translatey(-250%);
      }
    
  100% {
        transform: translatey(0%);
      }
}

.brand{
    animation: brand 4s ease-in;
}
@keyframes brand{
    0% {
        transform: translatey(-250%);
      }
    
      100% {
        transform: translatey(0%);
      }
}

#color{
  color:red;
}
#padd{
  padding-top: 30px
}
.a1{
  font-weight: bold;
  font-size: 70px;
  color:blue;
  margin-left: 50px;
  margin-top: 15%;
  text-align: center;
}
.a2{
  font-weight: bold;
  margin-left: 55px;
  font-size:25px;
  color: blue;
  text-align: center;
}
.b1{
  background-color: #C1EFFF;
  font-family:sans-serif;
}
.img1{
  width:700px;
  margin-top:200px;
  position: relative;
  animation: car 4s ease-in-out;
}
.img2 {
  width: 700px;
  margin-top: 200px;
  margin-right: 0px;
  animation: car1 4s ease-in;
  position: absolute;

}
.img3{
  width: 50px;
}
.img3:hover{
  background-color: white;
  border-radius: 50px;
}

@keyframes car{
  0%{
    transform: translateX(130%);
  }
  100%{
    transform: translateX(-220%);
  }
}

@keyframes car1 {
  0% {
    transform: translateX(220%);
  }

  100% {
    transform: translateX(0%);
  }
}
.a3{
  color:black;
  background:linear-gradient(to bottom,#FFFfff,#277BC0);
  text-align:center;
  height:auto;
  width:auto;
  margin:15px;
  display: grid;
  grid-template-rows: 50% 50%;
  border-radius: 15px ;
}
.a4{
  display: grid;
  grid-template-columns:50% 50%;
  text-align:center;
  padding-left:10px;
  padding-top: 10px;
}
.a5{
  display: grid;
  grid-template-columns:50% 50%;
}
.a6{
  color:black;
  background:linear-gradient(to bottom,#fffFFF,#277BC0);
  text-align:center;
  display: grid;
  grid-template-rows:25% 25% 30% 20%;
  margin:15px;
  border-radius: 15px ;
}
.s1{
  padding-top:0px;
}
.s2{
  color: black;
  display: flex;
  justify-content:center;
  padding-top: 30px;
}

.div1{
  background:linear-gradient(to right bottom,#ffffff,#277BC0);
/*  height:500px;
  width: auto;
  margin: 15px;
  border-radius: 15px;*/
  margin-bottom: 15px;
  margin-top: 15px;
  display: grid;
  grid-template-columns: auto auto;
  overflow: hidden;
}
.div4{
  color:white;
  background-color:#277BC0;
  height:5%;
  width:5%;
  margin:0px 0px 0px 50%;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  text-decoration: none;
  border-radius:none;
}
.div5{
  color:white;
  background-color:#277BC0;
  height:auto;
  width:auto;
  margin:15px;
  display: grid;
  grid-template-rows: auto auto ;
  border-radius: 15px;
}
.div6{
  display: grid;
  grid-template-columns:50% 50%;
}
.div7{
  display: grid;
  grid-template-columns:50% 50%;
}
.div8{
  color:black;
  background:linear-gradient(to right bottom,#ffffff,#277BC0);
  margin:15px;
  border-radius: 15px;
  height:400px;
  width:auto;
  padding-left:50px;
  text-decoration-color: blue;
  display: flex;
  align-items: center;
}
.div9{
  color:black;
  background:linear-gradient(to left top,#ffffff,#277BC0);
  margin:15px;
  border-radius: 15px;
  height:550px;
  width:auto;
  text-decoration-color: blue;
  display: grid;
  grid-template-columns: auto auto;
  animation: div9 4s ease-in;
}
@keyframes div9{
  0% {
      transform: translatey(20%);
      }
    
  100% {
        transform: translatey(0%);
      }
}
.div10{
  text-align: center;
}

.div101{
  animation: div101 4s ease-in;
}
  
@keyframes div101 {
  0% {
      transform: translatey(800%);
    }
  
  100% {
      transform: translatey(0%);
    }
  }
.div11{
  display: grid;
  grid-template-columns:auto auto auto;
}
.div12{
  padding-bottom: 50px;
}
.div13{
  color:black;
  background:linear-gradient(to left top,#ffffff,#277BC0);
  margin:15px;
  border-radius: 15px;
  height:450px;
  width:auto;
}
.div14{
  display: grid;
  grid-template-columns:50% 50%;
  align-items: center;

}
.font6{
  margin:10px 0px 0px 10px ;
  color:black;
  font-size: 13px;
}
.font7{
  color: blue;
  font-size: 13px;
  margin:0px;
}
.anger1{
  margin:10px 10px 10px 0px ;
  text-decoration: none;
  padding:3px 0px 2px 0px ;
  border-radius:100px;
  display: inline-block;
  background-color: blue;
}
.anger1:hover{
  background-color:white;
}
.anger2{
  color:blue;
  text-decoration: none;
  font-weight:bold;
}
.anger2:hover{
  color: white;
}
.anger3{
  margin-left: 10%;
}
.input1{
  /*width: 200px;
  height: 40px;*/
  width: 12%;
  height: 4%;
  margin: 20px auto auto auto;
  position: absolute;
  /*right: 430px;*/
  right: 29.5%;
  border-radius: 10px;
  border-style: none;
}
.input2{
  /*width: 270px;
  height: 40px;*/
  width: 20%;
  height: 4%;
  margin: 20px auto auto auto;
  position: absolute;
  /*right: 130px;*/
  right:8.5%;
  border-radius: 10px;
  border-style: none;
}
.input3{
  /*width: 500px;
  height: 40px;*/
  width: 70%;
  height: 50%;
  margin-top: 15px;
  border-radius: 10px;
  border-style: none;
}
.input4{
 /* width: 500px;
  height: 70px;*/
  width: 70%;
  height: 60%;
  margin-top: 0px;
  border-radius: 10px;
  border-style: none;
}
.input5{
  color:blue;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border-style: none;
  margin-top: 10px;
}
.input5:hover{
  color: black;
  background-color: blue;
  font-style:bold;
}
.wh1{
  /*width:400px;
  height:250px;*/
  width: 90%;
  height: 90%;
  border-radius: 15px;
  margin-left: 20px;
}
.wh2{
  /*width:700px;
  height:400px;*/
  width: 90%;
  height: 90%;
  border-radius: 15px;
  margin:20px;
 /* margin-top: 10%;*/
}
.wh3{
 /* width:560px;
  height:315px;*/
  width: 60%;
  height: 60%;
  border-radius: 15px;
  margin: 0 5% 0 15%;
}
.wh4 {
  /* width:560px;
  height:315px;*/
  width: 70%;
  height: 50%;
  border-radius: 15px;
  margin: 0 15% 0 15%;
}
.wh5{
  width: 70%;
  height: 315px;
  border-radius:15px;
  margin: 0 15% 0 15%;
}
.p1{
  text-align: center;
  font-size: 25px;
  margin-top:25%;
  margin-left:10px;
}

.arrow{
  position: fixed;
  background-color:lightblue;
  border-radius: 50px;
  height: 50px;
  bottom: 40px;
  right: 50px;
  animation: arrow 4s ease-in;
}

@keyframes arrow{
  0% {
    transform: translateX(800%);
    }
  
  100% {
    transform: translateX(0%);
    }
}

/*
@media only screen and (max-width: 600px) {
  .a5{
    display: grid;
    grid-template-rows: auto auto;
  }
}*/